
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

#login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

#login-form label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

#login-form input[type='email'], 
#login-form input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#login-form input[type='email']:focus, 
#login-form input[type='password']:focus {
  border-color: #555;
  outline: none;
}

.btn {
  width: 100%;
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #444;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer; 
}

.btn:disabled {
    background: #ccc; 
    color: #666; 
    cursor: not-allowed; 
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px; 
    background-color: #4caf50; 
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000; 
    transition: opacity 0.5s ease;
}
.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
      margin: 5px 0; 
    display: none; 
}
.success {
    background: green;
    color: #fff;
    padding: 5px;
    margin: 5px 0; 
    display: none; 
    border-radius: 5px; 
}
.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}
.password-toggle-icon {
    cursor: pointer; 
    transition: color 0.3s ease; }

.password-toggle-icon:hover {
    color: #007bff; 
}
